<h1>Joke App</h1>
<div *ngIf="joke.type =='twopart'">
  <p>{{ joke.setup }}</p>
  <p>{{ joke.delivery }}</p>
</div>

<div *ngIf="joke.type =='single'">
  <p>{{ joke.joke }}</p>
</div>

<button class="btn btn-primary" (click)="stop()">Stop</button>
<ng-container *ngIf="togleButton">
  <button class="btn btn-primary" routerLink="/like" routerLinkActive="active">Vedi Like</button>
  <button class="btn btn-danger" routerLink="/dislike" routerLinkActive="active">Vedi Dislike</button>
</ng-container>
<button class="btn btn-primary" (click)="add(joke, 'like')">Like</button>
<button class="btn btn-danger" (click)="add(joke, 'dislike')">Dislike</button>
